@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avant Garde";
  src: local("Avant Garde"), local("AvantGarde"), sans-serif;
}

@layer base {
    .nav-item {
        @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
    }
    .hero-ring {
        @apply absolute inset-0  border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
    }

    @keyframes profile_animate {
        0% {
          border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }
        50% {
            border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        }
        100% {
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }
      }
    
      .animate-profile {
        animation: profile_animate 8s ease-in-out infinite 1s;
      }

      html {
        scroll-behavior: smooth;
      }

      @keyframes move-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    
    @keyframes move-right {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(100%);
        }
    }
      
      .animate-move-left {
        animation: move-left 2s linear infinite;
      }
      .animate-move-right {
        animation: move-right 2s linear infinite;
      }
};
